<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1 class="headline large">kristen <span class="highlight">&amp;</span> andrew</h1>
 
    <%= image_tag 'main.jpg' %>

    <% # <p>&quot;Love is a battlefield.&quot; -Pat Benatar </p> %>

</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span-one-third">
        <h2>What</h2>

        <p>We're getting married!  That's right folks, it's time to put your dancin' shoes on.</p>

    </div>
    <div class="span-one-third">
        <h2>Where</h2>
        <p>We will be holding the ceremony and reception at Heston Farms in Fairmont, WV</p>

    </div>
    <div class="span-one-third">
        <h2>When</h2>
        <p>Friday August 17th 2012.  Ceremony starts at 6:30pm.  Cocktail Hour starts at 7pm.  Adult Reception starts at 8pm.</p>

    </div>
</div>

